{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'media',
    'media--type-' ~ media.bundle()|clean_class,
    not media.isPublished() ? 'media--unpublished',
    view_mode ? 'media--view-mode-' ~ view_mode.id()|clean_class,
  ]
%}
{% if file_url %}
  <a class="wp-block-button wp-block-button__link is-style-small" href="{{ file_url }}" target="_blank">
    {{ 'Download PDF' | t }}
  </a>
{% elseif content %}
  {{ content }}
{% endif %}
