<div class="site-footer">
  <a class="site-footer__logo" href="{{ front_page }}" rel="home" aria-label="{{ 'Go to frontpage'|t }}">
    {{ logo }}
  </a>

  <div class="site-footer__name">
    <h5>{{ site_name }}</h5>
  </div>
</div>
