@use "~hds-design-tokens/lib/breakpoint/all" as hds;
@use '~tablesaw/dist/tablesaw';
@use "common/breakpoints" as *;

.wp-block-table {
  font-size: var(--fontsize-body-s);

  td,
  th,
  thead,
  tfoot {
    border: 0;
  }

  thead {
    background-color: var(--color-primary);
    color: var(--color-white);
    font-weight: bold;
    text-align: left;
  }

  tfoot {
    font-weight: bold;
    background-color: var(--color-bus-light-20);
  }

  tbody tr:not(:first-child) {
    border-top: solid 1px var(--color-black-10);
  }

  &.is-style-stripes tbody tr:nth-child(odd) {
    background-color: var(--color-bus-light-5);
  }

  th {
    font-weight: inherit;
    text-align: inherit;
  }

  td,
  th {
    padding: var(--spacing-xs);
  }

  .tablesaw-advance .tablesaw-btn.btn-micro {
    font-size: 12px;
  }

  .tablesaw-all-cols-visible {
    display: none;
  }
}
