{% extends '@julkaisut/node/node--search-result.html.twig' %}

{% block node__content_wrapper %}
  <div class="search-result__content">
    {% block node__title parent() %}

    <div class="search-result__date">
      {% block node__date %}
        {% include '@julkaisut/partials/published-date-search.html.twig' %}
      {% endblock %}
    </div>
  </div>

  <div class="search-result__image">
    {{ content.field_image }}
  </div>
{% endblock %}
