@use "common/breakpoints" as *;

figure.media {
  margin: 0;

  figcaption {
    font-size: var(--fontsize-body-s);
    text-align: left;
    font-style: italic;
    color: var(--color-black-40);

    @include mq($from: large) {
      font-size: var(--fontsize-body-m);
    }

    .wp-block-image.alignfull & {
      transform: translateX(calc((var(--alignwide-width) - var(--content-width))/2 * -1));
    }
  }
}
