.block-popular-search-keywords, #block-naitahaetaanpaljon {
  margin-top: 40px;
  max-width: 300px;
  h2 {
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
    font-weight: normal;
    line-height: 28px;
  }
  .popular_search_key, .field--name-body {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    &word {
      margin-bottom: 24px;
      &_link {
        margin: 0 8px 0 0;
        padding: 8px;
        color: #fff;
        text-decoration: none;
        border: 1px solid #fff;
        line-height: 1;
        font-size: 14px;
      }
      &_num {
        display: none;
      }
    }
    p {
      margin: 0 8px 8px 0;
      padding: 8px;
      color: #fff;
      text-decoration: none;
      border: 1px solid #fff;
      line-height: 26px;
      font-size: 14px;
    }
    a {
      color: #fff;
      text-decoration: none;
      line-height: 1;
    }
  }
  @media (max-width: 767px) {
    margin-left: 24px;
  }
}
