@use "common/breakpoints" as *;

.search-view {
  --field-gutter: var(--spacing-s);
  position: relative;

  @include mq($from: medium) {
    --field-gutter: var(--spacing-m);
  }

  @media (min-width: 767px) {
    justify-content: center;
  }
  max-width: var(--content-width);
  margin-inline: auto;

  // Except on taxonomy search pages, move the header below the filter form
  body:not(.path-taxonomy) & {
    display: flex;
    flex-direction: column;

    > form {
      order: -1;
    }

    > header {
      margin-top: calc(var(--spacing-l) - var(--spacing-m));

      @include mq($from: medium) {
        margin-top: var(--spacing-l);
      }

      :last-child {
        margin-bottom: 0;
      }
    }
  }

  header {
    @media (max-width: 576px) {
      margin-bottom: 60px;
    }
    p {
      font-size: 22px;
    }
  }

  .result-count {
    margin-top: calc(var(--spacing-m) * -1 + var(--spacing-xs));
  }

  .facets-views-plugin > div:not(.hidden),
  .form-item {
    margin-top: 0;
    margin-bottom: var(--field-gutter);

    @at-root .search-view .views-exposed-form {
      @include mq($from: medium) {
        margin-bottom: calc(var(--field-gutter) * -1);
      }
    }

  }

  .hds-text-input__label {
    margin-bottom: var(--spacing-s);
    line-height: var(--lineheight-s);

    @include mq($from: medium) {
      font-size: var(--fontsize-heading-m);
      margin-bottom: var(--spacing-xs);
    }
  }

  .views-exposed-form {
    position: relative;
    @include mq($from: medium) {
      grid-template-areas:
        "search none none"
        "facets facets sort"
        "submit submit submit";
    }
  }

  &.has-no-results .form-item-sort-bef-combine {
    display: none;
  }

  .form-item-search {
    grid-area: search;
    position: relative;
    width: 100%;
    max-width: 560px;

    label {
      font-size: var(--fontsize-heading-m);
      margin-bottom: var(--spacing-m);
      line-height: var(--lineheight-s);
      text-align: left;
      font: normal normal normal 64px/64px var(--font-default);
      letter-spacing: 0;
      color: #FFFFFF;
      @media (max-width: 767px) {
        font-size: 40px;
      }

      //@include mq($from: medium) {
      //  font-size: var(--fontsize-heading-l);
      //}
    }
    .form-text {
      width: 415px;
      height: 46px;
      border: none;
      border-radius: 0;
      @media (max-width: 767px) {
        width: 90%;
      }
    }
  }

  .facets {
    grid-area: facets;
    margin-bottom: var(--field-gutter);
  }

  .form-item-sort-bef-combine {
    grid-area: sort;

    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(0, 100%);
    display: flex;
    white-space: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    .hds-text-input__label {
      color: #1B1B1B;
      font-size: 16px;
      font-weight: bold;
      padding-right: 24px;
      margin: 0;
    }
    .form-select {
      padding: 0 30px 0 15px;
    }
    .form-select {
      border: 1px solid #CCCCCC;
    }
    @media (max-width: 576px) {
      left: 0;
      bottom: -60px;
    }
  }

  // Add a gutter between search filters/actions and results
  .views-row:first-child {
    margin-top: calc(var(--field-gutter) + var(--spacing-2-xs));
  }

  // Gutter between rows
  .views-row:not(:last-child) {
    margin-bottom: var(--spacing-m);
  }

  .form-actions {
    display: none;
  }
}
