@use "common/breakpoints" as *;

.search-result {
  --card-padding: var(--spacing-l);
  --card-gutter: var(--spacing-m);

  font-size: var(--fontsize-body-m);
  padding-top: var(--card-padding);
  padding-bottom: var(--card-padding);
  border-top: 1px solid var(--color-black-20);
  display: flex;
  flex-direction: column;

  &__image {
    @include mq($until: medium) {
      order: -1;
      margin-bottom: var(--spacing-m);

      .node--type-book & {
        display: none;
      }
    }
  }

  // On mobile image is stacked
  @include mq($from: medium) {
    flex-direction: row;

    &__image {
      order: 1;
      margin-left: var(--card-padding);
      width: calc(var(--card-padding) + 178px);
    }
  }

  &__content {
    flex-basis: 100%;
  }

  & &__date {
    color: var(--color-black-90);

    &:not(:last-child) {
      margin-bottom: var(--spacing-s);
    }

    p {
      font-size: var(--fontsize-body-m);
      margin-bottom: 0;
    }
  }

  .is-highlight {
    color: var(--color-primary);
    font-style: italic;
  }

  &__title {
    margin-bottom: var(--spacing-s);

    &:last-child {
      margin-bottom: 0;
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .is-root-container {
    padding: 0;
    margin: 0;
  }

  &__child & {
    border: 0;
    padding: 0;
    color: var(--color-black-60);

    .search-result__title {
      font-size: var(--fontsize-body-m);
      font-weight: 700;
      color: var(--color-black);
      margin-bottom: var(--spacing-2-xs);
    }
  }

  &__child:not(:first-child) {
    margin-top: var(--card-gutter);
  }

  &__children {
    padding-left: 0;
    list-style: none;
  }

  &__accordion-trigger {
    font-size: var(--fontsize-body-m);
    font-weight: 700;
    line-height: var(--lineheight-m);
    text-decoration: underline;
    margin-top: var(--spacing-s);
    display: flex;
    align-items: center;

    .hds-icon {
      transition: transform 0.1s ease-out;
    }

    &[aria-expanded="true"] .hds-icon {
      transform: rotate(180deg);
    }
  }

  &__accordion-content {
    display: none;
    background-color: #f8f8f8; // shade doesnt exist in hds
    margin-top: var(--spacing-2-xs);
    padding: var(--spacing-s);

    @include mq($from: medium) {
      padding: var(--spacing-m);
    }

    &.is-active {
      display: block;
    }
  }
}
