@use "common/breakpoints" as *;

.teaser {
  position: relative;

  --teaser-spacing: var(--spacing-2-xs);

  @include mq($from: medium) {
    --teaser-spacing: var(--spacing-xs);
  }

  &__title {
    line-height: 1.4;
    margin-bottom: 0;

    a {
      color: inherit;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  &__label::before {
    content: '•';
    display: inline-block;
    margin-left: var(--spacing-3-xs);
  }

  &__date {
    margin-top: var(--teaser-spacing);
    margin-bottom: var(--spacing-3-xs);
    display: flex;

    @include mq($from: large) {
      margin-bottom: var(--spacing-2-xs);
    }

    p {
      font-size: var(--fontsize-body-s);
      font-weight: normal;
      margin-bottom: 0;
      line-height: var(--lineheight-s);

      @include mq($from: large) {
        font-size: var(--fontsize-body-xl);
      }
    }
  }
  .media--type-image {
    text-align: center;
    margin-bottom: 24px;
    img {
      width: 282px;
      height: 399px;
      object-fit: cover;
      object-position: center;
    }
  }
  @media (max-width: 767px) {
    .media--type-image {
      img {
        width: 345px;
        height: 488px;
      }
    }
  }
  @media (max-width: 575px) {
    &__title, &__date {
      max-width: 345px;
      margin: 0 auto;
    }
  }
  &:after {
    content: "\2192";
    font-weight: bold;
    font-size: 35px;
    transform: scaleX(1.4);
  }
}
