@use "common/breakpoints" as *;

body {
  font-family: var(--font-default);
  line-height: var(--lineheight-l); // @todo 1.44 in design
  font-size: var(--fontsize-body-l);
  color: var(--color-black-90);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  padding: 0;
  appearance: none;
  border: 0;
  border-radius: 0;
  background: transparent;
  line-height: 1;
  cursor: pointer;
}

blockquote {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;

  *:not(.is-resized) > & {
    width: 100%;
  }
}

iframe {
  border: 0;
}

a {
  color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: var(--spacing-m);

 + h1,
 + h2,
 + h3,
 + h4,
 + h5,
 + h6 {
   margin-top: calc(var(--spacing-m) * -1 + var(--spacing-xs));
 }
}

h1 {
  font-size: 40px;
  font-weight: 400;
  line-height: var(--lineheight-s);

  @include mq($from: large) {
    font-size: 64px;
  }

  @media (max-width: 400px) {
    hyphens: auto;
  }
}

h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: var(--lineheight-s);

  @include mq($from: medium) {
    font-size: 48px;
  }
}

h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: var(--lineheight-m);

  @include mq($from: medium) {
    font-size: 32px;
    line-height: var(--lineheight-s);
    font-weight: 400;
  }
}

h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: var(--lineheight-m);

  @include mq($from: medium) {
    font-size: 24px;
  }
}

h5 {
  font-size: 18px;
  font-weight: 500;
  line-height: var(--lineheight-m);

  @include mq($from: medium) {
    font-size: 20px;
    font-weight: 600;
    line-height: var(--lineheight-l);
  }
}

h6 {
  font-size: 16px;
  font-weight: 600;
  line-height: var(--lineheight-l);

  @include mq($from: medium) {
    font-size: 18px;
  }
}

p {
  margin: 0;
  margin-bottom: var(--spacing-m);

  & + p.has-body-s-font-size {
    margin-top: calc(var(--spacing-m) * -1 + var(--spacing-s));
  }

  &:last-child {
    margin-bottom: 0;
  }
}

strong,
b {
  font-weight: bold;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

iframe {
  display: block;
}


h2 {
  --line-height: 1;
  font-size: 2rem;
  font-weight: normal;
  color: #121212;
  @media (min-width: 992px) {
    --line-height: 1;
    font-size: 3rem;
  }
}

.helper-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
}

.card_title {
  font-size: 34px;
  line-height: 42px;
  font-weight: 500;
}

.large_link {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}

.quote,
blockquote,
q {
  font-size: 32px;
  line-height: 48px;
  font-weight: normal;
  font-style: italic;
}

.form-label {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

// Mobile typography.
@media (max-width: 575px) {
  .card_title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
  }

  .quote,
  blockquote,
  q {
    font-size: 24px;
    line-height: 36px;
    font-weight: normal;
    font-style: italic;
  }

  .form-label {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }
}
