@use "gutenberg/global" as gutenberg;

/**
 * Button
 */

 .wp-block-button {
  --button-color: var(--color-white);
  --button-background: var(--color-primary);
  --button-background-hover: var(--color-bus-dark-50);

  color: var(--button-color);;
  background-color: var(--button-background);
  font-weight: 500;

  &:visited {
    color: var(--button-color);
  }

  &:hover,
  &:focus {
    background-color: var(--button-background-hover);
    color: var(--button-color);
  }

  &.is-style-small,
  &.is-style-outline {
    --button-color: var(--button-background);
    background-color: transparent !important;

    &.wp-block-button__link,
    & .wp-block-button__link {
      border: 2px solid;
    }

    &:hover,
    &:focus {
      --button-color: var(--button-background-hover);

      &,
      & .wp-block-button__link {
        text-decoration: underline;
      }
    }
  }

  & &__link:not(.has-background) {
    background-color: transparent;
    color: inherit;
  }

  // Add a generic hover state without having to find color matches
  // This is inverted for light colors
  &__link.has-background:hover {
    filter: brightness(1.25);
  }


  &__link {
    border-radius: 0;
    padding: 21px 32px;
    font-size: var(--fontsize-body-m);
    line-height: var(--lineheight-s);


    @each $name in gutenberg.$palette-colors-light {
      &.has-#{$name}-background-color {
        color: var(--color-black-90);

        &:hover {
          filter: brightness(0.85);
        }
      }
    }
  }

  &.is-style-small {
    padding: 10px 16px 9px;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
  }
}
