@use "common/breakpoints" as *;

.wp-block-media-text {
  @media (max-width: 600px) {
    .wp-block-media-text__content {
      padding-left: 0;
      padding-right: 0;
      padding-top: var(--spacing-s);
    }

    &.has-media-on-the-right .wp-block-media-text__content {
      padding-top: 0;
      padding-bottom: var(--spacing-s);
    }
  }

  &.is-style-koros {
    position: relative;
    overflow: hidden;

    // Editor
    [data-type="core/media-text"] > & {
      background-color: inherit;
    }

    &::after {
      z-index: 2;
      position: absolute;
      width: 100vw;
      height: 100vw;
      display: block;
      content: '';
      mask-image: svg-load('./images/koros/basic.svg'), svg-load('./images/koros/rect.svg');
      transform: translate(-50vw, -50%) rotate(130deg);
      background-color: inherit;
      left: 0;
    }

    .wp-block-media-text__media {
      margin-left: -50%;
      z-index: 1;
    }

    > .block-editor-inner-blocks,
    .wp-block-media-text__content {
      z-index: 3;
      width: 130%;
      padding-top: var(--spacing-layout-l);
      padding-bottom: var(--spacing-layout-l);
    }

    @include mq($until: medium) {
      grid-template-columns: 100% !important;

      .wp-block-media-text__content {
        width: 100%;
        padding-left: var(--viewport-gutter);
        padding-right: var(--viewport-gutter);
      }

      .wp-block-media-text__media {
        mask-image: svg-load('./images/koros/basic.svg'), svg-load('./images/koros/rect.svg');
        grid-column: 1;
        grid-row: 2;
        margin-left: 0;
      }

      &::after {
        display: none;
      }
    }
  }
}
