@use "common/breakpoints" as *;

.wp-block-quote {
  font-size: 22px;
  font-style: italic;
  border-left: 0;
  position: relative;
  padding-left: 50px;

  &::before {
    content: '“';
    font-size: 100px;
    line-height: 1;
    position: absolute;
    color: var(--color-primary);
    top: 0;
    left: 0;
    margin-top: -0.06em;
    margin-left: -0.1em;
  }

  p:not(:last-child) {
    margin-bottom: var(--spacing-xs);
  }

  @include mq($until: small) {
    &.has-text-align-center::before {
      position: static;
      display: block;
      margin-bottom: -40px;
      margin-top: -10px;
    }
  }

  cite {
    font-size: var(--fontsize-body-l);
    color: inherit;

    &::before {
      content: '- ';
    }
  }
}
