.block-views {
  &:not(:first-child) {
    margin-top: var(--spacing-m);
  }

  &:not(:last-child) {
    margin-bottom: var(--block-gutter-l);

    .wp-block-media-text__content & {
      margin-bottom: var(--block-gutter);
    }
  }

  // In preprocess we're bumping out the alignwide class to the block wrapper
  // but leaving it on the view itself, unset the double gutter.
  &.alignwide .alignwide:first-child,
  &.alignfull .alignfull:first-child {
    margin-top: 0;
  }
}

.path-taxonomy, .path-frontpage {
  .term__wrapper, .block-views-blocktaxonomy-terms-terms--block-5 {
    .teaser {
      &:after {
        content: "\2192";
        font-weight: bold;
        font-size: 35px;
      }
      .teaser__title {
        margin-block: 24px;
      }
      .teaser__date {
        display: none;
      }
    }
  }
}
