.block-views {
  &:not(:first-child) {
    margin-top: var(--spacing-m);
  }

  &:not(:last-child) {
    margin-bottom: var(--block-gutter-l);
  }

  // In preprocess we're bumping out the alignwide class to the block wrapper
  // but leaving it on the view itself, unset the double gutter.
  &.alignwide .alignwide:first-child,
  &.alignfull .alignfull:first-child {
    margin-top: 0;
  }
}

.path-taxonomy {
  .term__wrapper {
    .teaser {
      &:after {
        content: "\2192";
        font-weight: bold;
        font-size: 35px;
      }
    }
  }
}
