@use "common/breakpoints" as *;

.book-navigation {
  font-size: var(--fontsize-body-s);
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style-type: none;
  padding-left: 0;
  background-color: var(--color-bus);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: 0px -3px 6px #00000029;

  .hds-icon {
    flex: 1 0 auto;
  }

  &__previous {
    background-color: #3333CB;

    .hds-icon {
      margin-right: var(--spacing-xs);
    }
  }

  &__next {
    a {
      justify-content: space-between;

      @include mq($from: large) {
        justify-content: flex-end;
      }
    }

    .hds-icon {
      margin-left: var(--spacing-xs);
    }
  }


  @include mq($until: xsmall) {
    .hds-icon {
      margin-right: 0;
      margin-left: 0;
    }

    & &__next a {
      padding-right: var(--spacing-4-xs);
    }

    & &__previous a {
      padding-left: var(--spacing-4-xs);
    }
  }


  li a {
    display: flex;
    align-items: center;
    color: var(--color-white);
    padding: var(--spacing-s);
    text-decoration: none;

    span {
      display: inline-block;
      max-height: calc(3em * var(--lineheight-l));
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }

  }
}
