@use "common/breakpoints" as *;

.node__meta {
  display: grid;
  margin-top: 0;

  @include mq($from: large) {
    margin-top: var(--spacing-m);
  }

  grid-template-areas:
    "tags        tags"
    "translation translation"
    "pdf         share"
    "print       share";

  .field--name-field-tags {
    grid-area: tags;
    margin-bottom: var(--spacing-s);

    @include mq($from: medium) {
      margin-bottom: var(--spacing-m);
    }
  }

  .field--name-field-pdf {
    grid-area: pdf;
  }

  .share-links {
    grid-area: share;
  }

  .print-button {
    grid-area: print;
  }

  .translation-links {
    grid-area: translation;
    margin-bottom: var(--spacing-m);
  }
}

.node.node--view-mode-full .field--name-field-image picture {
  display: block;

  img {
    max-height: 500px;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

// .node--type-book.node--view-mode-full {
//   // Place behind footer koro
//   .node__featured-image {
//     margin-bottom: calc(var(--spacing-layout-xs) * -1 - 15px);
//
//     @include mq($from: large) {
//       margin-bottom: calc(var(--spacing-layout-m) * -1 - 15px);
//     }
//   }
// }

.node--type-book.node--view-mode-full.node--book-depth-1 {
  display: grid;

  grid-template-areas:
    "published"
    "metadata"
    "image"
    "book-outline"
    "content";

  @include mq($from: large) {
    grid-template-areas:
      "published"
      "metadata"
      "book-outline"
      "image"
      "content";
  }

  .node__published {
    margin-top: 0;
    grid-area: published;
  }

  .node__content {
    grid-area: content;
  }

  .node__metadata {
    grid-area: metadata;

    .field--name-body {
      margin-bottom: 0;
    }

    @include mq($until: large) {
      .field--name-field-copyright {
        margin-top: var(--spacing-xs);
      }
    }
  }

  .node__featured-image {
    grid-area: image;
  }

  .node__book-outline {
    grid-area: book-outline;
  }
}
