.node__meta {
  display: grid;

  grid-template:
    "tags        tags"
    "translation translation"
    "pdf         share"
    "print       share";

  .field--name-field-tags {
    grid-area: tags;
    margin-bottom: var(--spacing-m);
  }

  .field--name-field-pdf {
    grid-area: pdf;
  }

  .share-links {
    grid-area: share;
  }

  .print-button {
    grid-area: print;
  }

  .translation-links {
    grid-area: translation;
    margin-bottom: var(--spacing-m);
  }
}
