@use "common/breakpoints" as *;

.pager {
  padding-left: 0;
  display: flex;
  justify-content: center;
  font-size: var(--fontsize-heading-xxs);
  font-weight: 500;
  margin-top: var(--spacing-l);

  @include mq($from: medium) {
    font-size: var(--fontsize-heading-s);
  }

  & &__item {
    padding: 0;
  }
}
