{% extends '@julkaisut/layout/page.html.twig' %}

{% block content %}
  {{ page.content }}

  {% if page.below_content %}
    <div class="is-container">
      <div class="alignwide">
        {{ page.below_content }}
      </div>
    </div>
  {% endif %}

  <div id="block-reactandshare" class="block--react-and-share js-react-and-share__container" data-hdbt-selector="react-and-share">
    <div class="rns"></div>
  </div>
  {% include '@julkaisut/partials/react-and-share.html.twig' %}
{% endblock %}
