.breadcrumb.breadcrumb {
  padding-bottom: 0;

  font-size: 14px;
  line-height: 20px;

  li::before {
    content: " / ";
  }

  li:first-child::before {
    content: none;
  }

  [aria-current="page"] {
    text-decoration: none;
    color: inherit;

    &:hover,
    &:focus {
      color: var(--color-primary);
      text-decoration: underline;
    }
  }
}
