@use "common/breakpoints" as *;

.node__meta {
  display: grid;
  margin-top: 0;

  @include mq($from: large) {
    margin-top: var(--spacing-m);
  }

  grid-template-areas:
    "tags        tags"
    "translation translation"
    "read-msg    share"
    "print       share";

  .field--name-field-tags {
    grid-area: tags;
    margin-bottom: var(--spacing-s);

    @include mq($from: medium) {
      margin-bottom: var(--spacing-m);
    }
  }

  .read-publication{
    grid-area: read-msg;
  }

  .share-links {
    grid-area: share;
  }

  .print-button {
    grid-area: print;
  }

  .translation-links {
    grid-area: translation;
    margin-bottom: var(--spacing-m);
  }
}

.node.node--view-mode-full .field--name-field-image picture {
  display: block;

  img {
    max-height: 500px;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

.node--type-book.node--view-mode-full.node--book-depth-1 {
  display: grid;
  max-width: var(--alignwide-width);
  margin-left: auto;
  margin-right: auto;
  transform: none;

  grid-template-areas:
    "title"
    "published"
    "metadata"
    "image"
    "book-outline"
    "content";

  @include mq($from: large) {
    // 792+128+280
    grid-template-areas:
      "title          image"
      "published      image"
      "metadata       image"
      "book-outline   image"
      "content        image";

    column-gap: var(--spacing-layout-2-xl);
    grid-template-columns: 3fr 1fr;
  }

  .is-container > * {
    transform: none;
    width: 100%;
    max-width: none;
  }

  .pdf-link {
    margin-top: 0;
  }

  .node__title {
    grid-area: title;
    margin-top: 0;
  }

  .node__published {
    margin-top: 0;
    grid-area: published;
  }

  .node__content {
    grid-area: content;
  }

  .node__metadata {
    grid-area: metadata;
    color: #191919;

    .field--name-body {
      margin-bottom: 0;
    }

    @include mq($until: large) {
      .field--name-field-copyright {
        margin-top: var(--spacing-xs);
      }
    }
  }

  .node__featured-image {
    margin-top: 0;
    margin-bottom: var(--spacing-m);
    grid-area: image;
  }

  .node__book-outline {
    grid-area: book-outline;
  }
}
