@use "common/breakpoints" as *;

.block-page-title-block h1 {
  display: flex;
  justify-content: space-between;

  @media (max-width: 400px) {
    // If it's a heading with a copy button ensure there's space for the button
    > span:first-child {
      max-width: calc(100% - var(--spacing-s));
    }
  }

  button {
    color: var(--color-primary);
    margin-left: var(--spacing-4-xs);

    @include mq($from: medium) {
      margin-left: var(--spacing-s);

      .hds-icon {
        --icon-size: var(--spacing-l);
      }
    }
  }
}
