@use "common/breakpoints" as *;

.published-date {
  margin-bottom: 0;

  p,
  .field--name-field-magazine {
    font-size: var(--fontsize-heading-xxs);
    font-weight: 700;
    line-height: var(--lineheight-m);
    margin-top: 0;
    margin-bottom: var(--spacing-m);

    @include mq($from: large) {
      font-size: var(--fontsize-heading-s);
    }
  }
}
