@use "common/breakpoints" as *;

.published-date {
  margin-bottom: calc(var(--spacing-m) * -1 + var(--spacing-s));

  p, .field--name-field-magazine {
    font-size: var(--fontsize-heading-xxs);
    font-weight: bold;
    line-height: var(--lineheight-m);
    margin-top: 0;
    margin-bottom: var(--spacing-m);
    display: inline-block;

    @include mq($from: large) {
      font-size: var(--fontsize-heading-s);
    }
  }
}
