.share-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__heading {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 22px;
  }

  &__link {
    color: inherit;
    margin-left: var(--spacing-xs);
    display: inline-flex;
  }
}
