@use "common/utils" as *;
@use "common/breakpoints" as *;

.site-search {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;

  &__icon-label {
    font-size: 14px;
    line-height: 1;
    margin-top: var(--spacing-3-xs);
    display: none;
  }

  &:hover &__icon-label {
    text-decoration: underline;
  }

  @include mq($from: large) {
    &__icon-label {
      display: block;
    }
  }
}
