@use "common/breakpoints" as *;

.site-logo {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: var(--spacing-s);
  align-items: center;

  &__icon {
    // Offset so the text within the logo is vertically centered
    margin-bottom: -5px;

    @include mq($from: large) {
      img {
        width: 102px;
        height: 47px;
      }
    }
  }

  &__name {
    text-decoration: none;
    color: inherit;
    font-weight: 400;
    font-size: var(--fontsize-body-m);

    @include mq($from: large) {
      font-size: var(--fontsize-body-xl);
    }
  }
}
