@use "common/breakpoints" as *;
@use "common/utils" as *;

.site-header {
  padding-top: var(--spacing-s);
  padding-bottom: var(--spacing-s);
  padding-left: var(--viewport-gutter);
  padding-right: var(--viewport-gutter);
  width: 100%;

  &__inner {
    // Layout
    max-width: var(--alignwide-width);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  @include mq($until: large) {
    border-bottom: solid 1px var(--color-black-20);
    position: fixed;
    z-index: 10;
    background-color: var(--color-white);
    padding-top: var(--spacing-2-xs);
    padding-bottom: var(--spacing-2-xs);

    &__languages.mobile {
      margin-top: 68px; // height of fixed nav
    }
  }

  &__logo {
    // push remaining columns to the right
    flex: 1 0 auto;
  }

  &__hamburger-button {
    display: block;

    @include mq($from: large) {
      display: none;
    }
  }

  &__languages {
    display: none;

    @include mq($from: large) {
      display: block;
    }
  }

  &__languages.mobile {
    height: 49px;
    display: flex;
    align-items: center;
    padding-left: var(--viewport-gutter);
    padding-right: var(--viewport-gutter);

    .site-languages {
      margin: 0;
    }

    @include mq($from: large) {
      display: none;
    }
  }

  // When navigation is activated on mobile
  .is-active & {
    border-bottom: 0;
  }
}
