@use "common/breakpoints" as *;
@use "common/utils" as *;

.site-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px var(--spacing-s);

  @include mq($until: large) {
    border-bottom: solid 1px var(--color-black-20);
  }

  @include mq($from: large) {
    padding-left: 0;
    padding-right: 0;
    max-width: var(--container-width);
  }

  &__logo {
    // push remaining columns to the right
    flex: 1 0 auto;
    .site-logo {
      &__name {
        --line-height: 1.5;
        font-size: 1.25rem;
        font-weight: 400;
      }
    }
  }

  //&__search {
  //  display: none;
  //
  //  @include mq($from: large) {
  //    display: block;
  //  }
  //}

  &__hamburger-button {
    display: block;

    @include mq($from: large) {
      display: none;
    }
  }

  &__languages {
    display: none;

    @include mq($from: large) {
      display: block;
    }
  }

  &__languages.mobile {
    height: 49px;
    display: flex;
    align-items: center;
    padding: 0 32px;
    .site-languages {
      margin: 0;
    }
    @media (min-width: 992px) {
      display: none;
    }
  }

  // When navigation is activated on mobile
  .is-active & {
    border-bottom: 0;

    .site-navbar {

    }
  }
}
.site-header {
  max-width: 100%;
  padding: 17px 32px;
}
@media (max-width: 991px) {
  .site-header {
    position: fixed;
    z-index: 10;
    background-color: #ffffff;
    &__languages.mobile {
      margin-top: 86px;
    }
  }
}
