@use "config";
@use "common/breakpoints" as *;

.is-container,
.is-root-container {
  // Add a viewport gutter in the same manner as Gutenberg does
  padding-left: var(--viewport-gutter);
  padding-right: var(--viewport-gutter);

  > *:not(.alignfull):not(.alignwide) {
    // Move content to the beginning of the grid when it's 8/12 cells
    @if not config.$is-editor {
      transform: translateX(calc((var(--alignwide-width) - var(--content-width))/2 * -1));

      // Cancel for content fields in blocks
      .block-block-content &,
      // Cancel out for nested containers.
      .is-container & {
        transform: none;
      }
    }
  }
}

// Any container that can contain blocks or inner blocks.
.wp-block-group__inner-container,
.wp-block-cover__inner-container,
.wp-block-media-text__content,
.wp-block-column,
.is-container,
.is-root-container {
  // Each blocks default styling
  > * {
    max-width: var(--content-width);
    margin-left: auto;
    margin-right: auto;


    &.has-text-align-right {
      margin-right: 0;
    }

    &.has-text-align-left {
      margin-left: 0;
    }
  }

  // Alignfull stretches to the viewport width up to a point when it gets centered.
  [data-align="full"],
  .alignfull {
    max-width: var(--alignfull-width);
    // Negate the container padding so it stretches to viewport width.
    margin-left: calc(var(--viewport-gutter) * -1);
    margin-right: calc(var(--viewport-gutter) * -1);
    width: unset; // Override Gutenberg

    @media (min-width: 2000px) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  // Align has a 12 column width with a viewport gutter
  [data-align="wide"],
  .alignwide {
    max-width: var(--alignwide-width);
    margin-left: auto;
    margin-right: auto;
  }
}

// Duplicate alignfull style for content outside the container
@media (min-width: 2000px) {
  .alignfull {
    max-width: var(--alignfull-width);
    margin-left: auto;
    margin-right: auto;
  }
}

.is-container .is-container,
.is-container .is-root-container {
  padding-left: 0;
  padding-right: 0;

  > * {
    transform: none;
  }
}
