@use "common/breakpoints" as *;

$fontsizes-body:
  'body-s',
  'body-m',
  'body-l',
  'body-xl';

$fontsizes-heading:
  'heading-xxs',
  'heading-xs',
  'heading-s',
  'heading-m',
  'heading-l',
  'heading-xl';

$palette-colors:
  'bus',
  'bus-dark-50',
  'bus-light-50',
  'bus-light-5',
  'coat-of-arms-blue',
  'summer',
  'summer-light-20',
  'copper',
  'copper-light-20',
  'fog-light-20',
  'suomenlinna',
  'suomenlinna-light-20',
  'engel-light-20',
  'black-90',
  'black-60'
  'black-50',
  'black-20',
  'black-5',
  'white';

$palette-colors-dark:
  'bus',
  'bus-dark-50',
  'bus-light-50',
  'coat-of-arms-blue',
  'black-90',
  'black-60'
  'black-50';

$palette-colors-light:
  'bus-light-5',
  'summer',
  'summer-light-20',
  'copper',
  'copper-light-20',
  'fog-light-20',
  'suomenlinna',
  'suomenlinna-light-20',
  'engel-light-20',
  'black-20',
  'black-5',
  'white';

@each $name in $fontsizes-body {
  .has-#{$name}-font-size {
    font-weight: normal;
    font-size: var(--fontsize-#{$name});
  }
}

@each $name in $fontsizes-heading {
  .has-#{$name}-font-size {
    font-weight: bold;
    font-size: var(--fontsize-#{$name});
  }
}

@each $name in $palette-colors {
  .has-#{$name}-background-color {
    background-color: var(--color-#{$name}) !important;
  }
}

@each $name in $palette-colors {
  .has-#{$name}-color {
    color: var(--color-#{$name}) !important;
  }
}

@each $name in $palette-colors-dark {
  .has-#{$name}-background-color {
    color: var(--color-white);
  }
}

.is-style-koros-basic-top {
  margin-top: var(--spacing-layout-xs);
  mask-image: svg-load('./images/koros/basic.svg'), svg-load('./images/koros/rect.svg');

  @include mq($from: medium) {
    margin-top: var(--spacing-layout-m);
  }
}

.is-style-excerpt {
  font-size: var(--fontsize-heading-xs);
  font-weight: bold;
}
