{% extends '@julkaisut/taxonomy-term/taxonomy-term.html.twig' %}

{% block term__content_wrapper %}
  <h1 id="main-content">{% trans %}Tag:{% endtrans %} {{ name.0|render }}</h1>
  {{ parent() }}
{% endblock %}
