{% if content.field_image is not empty %}
  {% set entity = node ? node : term %}
  {% set width = entity.field_featured_image_width.value ?: 'banner' %}

  <div class="is-container">
    <div class="
      featured-image
      featured-image--{{ width }}
      wp-block-image
      is-style-koros-basic-top
      {{ width != 'content' ? 'alignfull' }}
    ">
      {{ content.field_image }}
    </div>
  </div>

{% endif %}
