<a class="site-search" href="{{ path('view.search.page_1') }}">
  <i class="hds-icon hds-icon--search hds-icon--size-s" aria-hidden="true"></i>
  <span class="site-search__icon-label">{{ 'Search' | t }}</span>
</a>
